menu "Project configuration"

    config PROJECT_GPIO_LED
        int "GPIO number to control the LED"
        default 4
        help
            GPIO number of output pin to control the LED

    config PROJECT_GPIO_TOUCH
        int "GPIO number of touch sensor"
        default 5 if (IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2)
        default 5 if IDF_TARGET_ESP8266
        help
            GPIO number of input pin to change PWM duty cycle

    config PROJECT_PWM_FREQ_HZ
        int "Frequency of PWM in Hz"
        default 5000
        # XXX on ESP8266, this must be less than or equal to 50000.
        # `pwm_init()` says:
        # "Do not set the period below 20us."
        range 1000 50000
        help
            PWM frequency to control the LED

    config PROJECT_CONNECT_WIFI
        bool "Enable WiFi support"
        default y

    config PROJECT_WIFI_SSID
        string "SSID"
        default "myssid"
        depends on PROJECT_CONNECT_WIFI
        help
            WiFi SSID to connect to.

    config PROJECT_WIFI_PASSWORD
        string "Password"
        default "password"
        depends on PROJECT_CONNECT_WIFI
        help
            WiFi password

    config PROJECT_CONNECT_IPV6
        bool "Enable IPv6 support"
        depends on PROJECT_CONNECT_WIFI
        default n

    config PROJECT_SNTP_ENABLE
        bool "Enable SNTP support"
        depends on PROJECT_CONNECT_WIFI
        default y

    config PROJECT_SNTP_SERVER_NAME
        string "hostname of SNTP server"
        depends on PROJECT_SNTP_ENABLE
        default "pool.ntp.org"
    config PROJECT_SNTP_TZ
        string "string of the local timezone"
        default "UTC"
        depends on PROJECT_SNTP_ENABLE
        help
            A string of the local timezone, such as `UTC-7`.
endmenu
